## Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

##### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. ggplot2

##### Data Science Tools
| Data Science Tools |
| ---- |
| jupyter lab |
| R studio |
| sql |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes // 60
print(hours)

3

##### Objectives:
- numpy
- pandas
- ggplot2

## Author
###### Andria Puja Pratama